// Calendar
.react-calendar {
  width: 50%;
  margin-right: 1em;
  padding: 2em 1.5em;
  background-color: white;
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 2em;
}

.react-calendar button {
  border: none;
  background-color: transparent;
}

.react-calendar__navigation__prev-button {
  order: 2;
  font-weight: 700;
  font-size: 1.2em;
}

.react-calendar__navigation__label {
  order: 1;
  text-align: left;
  font-size: 1.2em;
  font-weight: 700;
}

.react-calendar__navigation__next-button {
  order: 3;
  font-weight: 700;
  font-size: 1.2em;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 1em;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__days > button {
  padding: 20px 20px;
  font-size: 0.9em;
  font-weight: 400;
  font-family: "Rubik";
  color: gray;
}

.react-calendar__tile--active {
  background-color: #43b5ff !important;
  color: white !important;
  font-weight: 700 !important;
  border-radius: 100% !important;
}
